:root {
  --bg-color: #f6e8e8;
  --primary-color: #7e1a1a;
  --secundary-color: #b53f3f;
}

body {
  background-color: var(--bg-color);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--primary-color);
}

h2 {
  font-family: 'Rubik', sans-serif;
}

h3 {
  font-family: 'Rubik', sans-serif;
}

header {
  background-image: url(../Images/PortadaCssCheatSheet.jpg);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}

.container-header {
  background-color: white;
  width: 50%;
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 16px;
  text-align: center;
}

.container-h2 {
  font-size: 1rem;
  font-weight: lighter;
}

.article-container {
  background-color: white;
  width: 75%;
  margin: 3rem auto;
  padding: 0.5rem 2rem;
  border-radius: 16px;
  text-align: left;
}

.article-title {
  text-align: center;
  color: var(--primary-color);
}

.ejemplo {
  margin: 0.5rem auto;
  padding: 0.5rem 2rem;
  border-radius: 16px;
  text-align: left;
}

#style {
  border-style: dotted;
}

#left-style {
  border-left-style: dotted;
}

#right-style {
  border-right-style: dotted;
}

#top-style {
  border-top-style: dotted;
}

#bottom-style {
  border-bottom-style: dotted;
}

#radius {
  border-radius: 50%;
  border-style: dotted;
}

.bg-img {
  background-image: url(../Images/PortadaCssCheatSheet.jpg);
  font-weight: bolder;
}

#color {
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-style: dashed;
  font-weight: bold;
}

#caption {
  font: caption;
}

#family {
  font-family: Times, serif;
}

#font-style {
  font-style: italic;
}

#font-weight {
  font-weight: bolder;
}

#width {
  width: 25%;
  border-style: dashed;
}

#height {
  height: 25vh;
  border-style: dashed;
}

#list-style {
  list-style: georgian;
}

#margin {
  margin: 2rem 4rem 6rem 8rem;
  border-style: dotted;
  background-color: white;
}

#o-margin {
  border-radius: 16px;
  background-color: var(--secundary-color);
  border: solid var(--secundary-color);
}

#padding {
  background-color: white;
}

#o-padding {
  padding: 2rem 4rem 6rem 8rem;
  border: dotted;
  background-color: var(--secundary-color);
  border-radius: 16px;
}

#overflow {
  overflow: scroll;
  height: 5rem;
}

.block {
  background-color: var(--secundary-color);
  color: white;
}

.inblock {
  display: inline-block;
  background-color: var(--secundary-color);
  color: white;
}

#position {
  position: relative;
  background-color: var(--secundary-color);
  color: white;
  left: 80px;
  top: 80px;
}

#filter {
  filter: grayscale(80%);
}