body {
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  color: #40514e;
  background-color: azure;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #66bfbf;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  color: #66bfbf;
}

header {
  text-align: center;
}

article {
  padding: 0 5%;
}

footer {
  background-color: rgb(64, 73, 83);
  margin: 0;
  padding: 1.5rem 5%;
  color: white;
}

footer a {
  color: white;
}

.center {
  text-align: center;
}

.altura-20 {
  height: 20rem;
}

.altura-15 {
  height: 15rem;
}

.gordo {
  width: 100%;
}